
  .main {
        display: block;
}
  
  body {
        font-family: 'Sansita Swashed', cursive;
        margin: 0;
        height: 768px;
        background-color: #2A7507;
        background-image: linear-gradient(#E8F5E0, #2A7507);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
 }

    * {
        box-sizing: border-box;
}

    h1 {
        font-family: 'Sansita Swashed', cursive;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}

    h2 {
        font-family: 'Sansita Swashed', cursive;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}

    h3 {
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}

    p {
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}

    .text_white {
        color: #ffffff;
        text-align: center;
}

    .text_black {
        color: #000000;
        text-align: center;
}

    .text_standard {
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}

    .text_cursive {
        font-family: 'Sansita Swashed', cursive;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}

    .gradient-buttons .btn {
        background-image: linear-gradient(to bottom, rgba(0,255,127), rgba(0,125,0,0.5) 50%, rgba(0,0,0,0.15) 100%, rgba(0,0,0,0.05));
        background-repeat: repeat-x;
}

/*--- Bootstrap Padding Fix --*/
    [class*="col-"] {
        padding: 1rem;
}
